@import "../../App.scss";

.compare-box {
  background-color: $primary-color;
  position: fixed;
  bottom: 0;
  z-index: 1100;
  right: 3%;
  max-width: 50%;
}
.but-group {
  text-align: end;
}
.prog-box {
  width: 160px !important;
}
.toggle-compare {
  position: absolute;
  top: -6px;
  color: #4ab3cd;
  right: -6px;
  background: white;
  border-radius: 50%;
}
.close-but {
  cursor: pointer;
  color: $primary-color;
  right: 2%;
  top: 2%;
}

.program-list {
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 960px) {
  .compare-box {
    max-width: 100%;
    width: 100%;
    right: 0;
  }
  .but-group {
    text-align: center;
  }
  .prog-box {
    width: 100% !important;
  }
  .toggle-compare {
    right: 50%;
  }
}
