@import '../../App.scss';

.program-name:hover {
    color: $primary-color;
}
.footer-box {
    background-color: #0d3347;
}
.footer-nav-link {
    padding: 6px 9px;
    color: white;
}
.footer-nav-link:hover {
    background-color: white;
    color: $primary-color;
    border-radius: 3px;
}